html,body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    font-family: "Verdana";
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    position: fixed;
    z-index: 10;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.logo,nav {
    display: inline-flex;
}

header nav {
    display: inline-block;
    padding: 28px 45px 28px 0;
    justify-content: space-around;
    text-align: center;
}

nav a {
    padding: 15px;
    color: black;
}
.logo {
    color: MediumAquamarine;
}

.logo h3 {
    padding-top: 15px;
}

.main {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 115px;
    z-index: 5;
}

.large {
  width: 630px;
  padding-left: 10px;
}

.medium {
  width: 300px;
}

.small {
  width: 240px;
  padding-right: 10px;
}

.a {
    background-image: url(img-story-main.png);
    color: white;
    display: inline-flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    display: inline-flex;
    height: 300px;
}
.b {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: inline-flex;
  padding: 20px 0;
}
.c {
    font-family: Georgia;
    font-size: 17px;
    color: black;
    display: inline-flex;
    flex-direction: column;
    width: 300px;
}
.d {
    background-image: url(img-story-2.png);
    display: inline-flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
}
.e {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: inline-flex;
  flex-direction: column;
  width: 300px;
  float: right;
}
.f {
    background-image: url(img-story-3.png);
    color: white;
    display: inline-flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: inline-flex;
    flex-direction: column;
    height: 300px;
    text-align: center;
}

.alfa {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: inline-flex;
  flex-direction: column;
}
.betta {
    background-image: url(img-story-1.png);
    display: inline-flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    display: inline-flex;
    text-align: center;
    align-items: center;
    height: 300px;
}

.tanho {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  display: inline-flex;
  flex-direction: column;
}

.tanho h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.tanho h2 {
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    display: inline-flex;
    padding: 10px;
    margin: 0;
}

footer {
    position: relative;
    top: 115px;
    z-index: 5;
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
}

.aside1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.aside2 {
    display: flex;
    justify-content: center;
     align-items: center;
    padding-bottom: 150px;
}

footer h2 {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
